@import './override.scss';
@import '~vuetify/src/styles/styles.sass';
@import '~vuetify/src/styles/main.sass';

html{
  overflow-y: hidden !important;
}

main {
  @extend .base-background;
}

div {
  @extend .indigo--text;
}

.base-background {
  @extend .light-blue;
  @extend .lighten-4;
}

.base-background-flat-shadow {
  box-shadow: $flat-shadow !important;
  @extend .base-background;
}

.base-background-pressed-shadow {
  box-shadow: $pressed-shadow !important;
  @extend .base-background;
}
