
// colors
$base-color: #fff;
$base-light-shadow-color: #fff;
$base-dark-shadow-color: #d9d9d9;
$bace-text-color: #A1887F;

// shadows
$flat-shadow: 12px 12px 24px $base-dark-shadow-color, -12px -12px 24px $base-light-shadow-color;
$pressed-shadow: inset 12px 12px 24px $base-dark-shadow-color, inset -12px -12px 24px $base-light-shadow-color;
